﻿/*** These are the classes that need changing for each CMS ***/
/*
    ../images/background/background.jpg - CMS background image
    ../images/ClientImage/imgLogo.png - Client Image Logo

    .leftNav - background color
    .bodyContent - border top color
    .loginLeftNav - background color #252525
*/

html
{
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 13px;
    font-family: Calibri; /* hide overflow:hidden from IE5/Mac */ /* \*/ /* overflow:hidden; */ /* */
    scrollbar-face-color: #E5E5E5;
    scrollbar-arrow-color: #999;
    scrollbar-base-color: #E5E5E5;
}

body
{
    height: 100%;
    max-height: 100%; /* overflow:hidden; */
    padding: 0;
    margin: 0;
    border: 0;
    background: #ccc url('../images/Background/background.jpg') repeat top left;
}

form
{
    margin: 0px;
    padding: 0px;
}

.pageConatiner
{
    width: 1000px;
    min-height: 500px;
    text-align: center; /*### Tricks browser into making the divs equal size */
    overflow: hidden;
}

.cmsTitle
{
    background-color: #0a4877; /*background-image:url(../images/imgCmsTitle.png);*/
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
    color: #fff;
    line-height: 28px;
    margin-bottom: 5px;
}

.leftNav
{
    float: left;
    width: 200px;
    background: #252525 url('../images/leftNav_BG.png') repeat-y top left; /*### Tricks browser into making the divs equal size */
    padding-bottom: 1000px;
    margin-bottom: -1000px;
    height: 1000px;
}

.bodyContent
{
    float: left;
    width: 800px;
    background-color: #ececec; /*### Tricks browser into making the divs equal size */
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}

.contentHeader
{
    color: #5a5a5a;
    font-weight: bold;
    background-color: #d4d4d4;
    width: 100%;
    height: 35px;
}

.currentPage
{
    float: left;
    width: 49%;
    text-align: left;
}

.currentPageTab
{
    width: 150px;
    height: 35px;
    background-color: #bebebe;
    margin-left: 15px;
    text-align: center;
    text-transform: uppercase;
}

.currentPageTab span
{
    position: relative;
    top: 8px;
}

.imgClock
{
    margin-right: 10px;
}

.timeDisplay
{
    float: left;
    position: relative;
    top: 4px;
    width: 49%;
    text-align: right;
}

.dateText
{
    float:right;
    margin-top:5px;
}

.TreeView
{
    float:left;
    left:0px;
    outline:none;
}

.TreeView td
{
    border:none;
}

.TreeviewSelected
{
    background-image: url(../images/select.png);
    border: 1px dotted black;
    outline: none;
    
}

.TreeviewNode
{
    padding: 3px 3px 3px 3px;
    outline: none;
    float:left;
    
    outline:none;
}

/**** End ****/

/*** Left Panel ***/

.userCredentials
{
    width: 200px;
    padding: 2px 0px 2px 0px;
}

.leftPanelDivider
{
    float: right;
}

.userCredentialsTop
{
    float: left;
    padding: 2px 0px 2px 22px;
    color: #ffffff;
    font-weight: bold;
}

.userCredentialsBottom
{
    float: left;
    padding: 2px 0px 2px 22px;
    color: #ffffff;
    font-size: 11px;
}

/*** END Left Panel ***/

/*** Anchors/Links ***/

.linkWhite
{
    text-decoration: none;
    color: #ffffff;
}

.linkGreyUnderlined
{
    color: #5a5a5a;
}

/*** END Anchors/Links ***/

/*** Main Menu ***/

.mainMenu
{
    list-style: none;
    float: right;
    width: 180px;
}

.mainMenuItem
{
    background: transparent url(../images/imgMenuMain.png) no-repeat top left;
    padding: 7px 0px 12px 0px;
    text-align: left;
    cursor: pointer;
}

.mainMenuItem a
{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 45px;
}

.mainMenuItemText
{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 45px;
}

.mainMenuItemWithText
{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 25px;
}

.noArrow
{
    margin-left: -10px;
}

.arrowLeft
{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    background: transparent url(../images/imgArrows.png) no-repeat top left;
    width: 12px;
    height: 11px;
}

.arrowDown
{
    float: left;
    margin-left: 10px;
    margin-top: 3px;
    background: transparent url(../images/imgArrows.png) no-repeat top left;
    width: 12px;
    height: 10px;
    background-position: 0px -11px;
}

/*** Sub Menu ***/

.subMenuContainer
{
    display: none;
    text-align: left;
}

.subMenu
{
    position: relative;
    list-style: none;
    width: 175px;
    padding: 0px;
    margin-left: 30px;
}

.subMenu li
{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    background: transparent url(../images/imgMenuSub.png) no-repeat top left;
    padding: 7px 0px 8px 0px;
    cursor: pointer;
}

.subMenu li a
{
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
}

/*** END Sub Menu ***/

/*** END Main Menu ***/

/*** Datagrid ***/

.dgr
{
    /*border:1px solid #D8D9DA;*/
    border: none;
    width: 95%;
    margin-left: 2.5%;
}

.dgrHeader
{
    background: #252525;
    height: 42px;
    border: none;
}

.dgrHeader td
{
    border: none;
    border-right: solid 1px #D8D9DA;
    border-bottom: solid 1px #D8D9DA;
}

.dgrHeader td, .dgrHeader td a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

.dgrHeaderLeft
{
    background: url(../images/imgDgrHeaderLeft.png) no-repeat top left;
}

.dgrHeaderRight
{
    border-right: none !important;
    background: transparent url(../images/imgDgrHeaderRight.png) no-repeat top right;
}



/*** Rows ***/

.dgrItem
{
    background: #f9f9f9;
    color: #5a5a5a;
    text-align: left;
}

.dgrItem td
{
    border: 1px solid #D8D9DA;
}

.dgrItem:hover
{
    background: #ededed;
    color: #2a2a2a;
}

.dgrAltItem
{
    background: #ffffff;
    color: #5a5a5a;
    text-align: left;
}

.dgrAltItem td
{
    border: 1px solid #D8D9DA;
}

.dgrAltItem:hover
{
    background: #ededed;
    color: #2a2a2a;
}

/*** END Rows ***/

/*** Paging 

.dgrPg
{
    text-align: center;
    background: transparent url(../images/imgDgrFooter.png) no-repeat bottom center;
    height: 35px;
    padding-bottom:5px;
}

.dgrPg td
{
    color: #666;
    text-decoration: none;
    border: none;
}

    
.dgrPg div
{
    color: #fff;
    background: transparent url(../images/imgDgrPaging.png) no-repeat;
    text-decoration: none;     
    height: 20px;
    padding:3px 1px 0px 0px;
}

.dgrPg a 
{
    text-decoration: none;  
    color: #fff;
    background: transparent url(../images/imgDgrPaging.png) no-repeat;
    -webkit-background-size:22px 22px;
    text-decoration: none;     
    height: 22px;
}

.dgrPg a:hover
{
    background-color:#252525;
}

.dgrPg span
{    
    color: #fff;
    background: transparent url(../images/imgDgrPaging.png) no-repeat top left ;
    -webkit-background-size:22px 22px;
    text-decoration: none;
    width: 22px;
    height: 23px;
    vertical-align:0px;
}

/*** END Paging ***/

/*** Paging ***/

.dgrPg
{
    text-align: center;
    background: transparent url(../images/imgDgrFooter.png) no-repeat bottom center;
    height: 35px;
    padding-bottom:5px;
}

.dgrPg td
{
    color: #333;
    text-decoration: none;
    border: none;
}

    
.dgrPg div
{
    color: #fff;
    background: #252525 url(../images/imgDgrPaging.png) no-repeat;
    text-decoration: none;     
    height: 22px;
    padding-top:2px;
    outline:none;    
     
}

.dgrPg p
{
    color: black;
    background: #dcdcdc url(../images/imgDgrPaging.png) no-repeat;
    text-decoration: none;     
    height: 20px;
    padding-top:2px;  
    outline:none;
}

.dgrPg p:hover
{
    color: #fff;
    background: #252525 url(../images/imgDgrPaging.png) no-repeat;   
}

.dgrPg a 
{
    text-decoration: none;  
    color:Black;      
}

.dgrPg a:hover
{
    
}

.dgrPg span
{    
    color: #fff;
    background: #9a0604 url(../images/imgDgrPaging.png) no-repeat top left ;
    -webkit-background-size:22px 22px;
    text-decoration: none;
   /* padding: 2px 7px 5px 8px;*/
    width: 22px;
    height: 23px;
    vertical-align:0px;
}

/*** END Paging ***/

/*** Links ***/

.dgrLinkMarkRead
{
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    background: url(../images/imgDgrMarkAsRead.png) no-repeat top left;
    outline:none;
}

.dgrLinkMarkUnRead
{
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    background: url(../images/imgDgrMarkAsRead.png) no-repeat 0px -23px;
    outline:none;
}

.dgrLinkDelete
{
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    background: url(../images/imgDgrDelete.png) no-repeat top left;
}

.dgrLinkDelete:hover
{
    background-position: 0px -23px;
}

.dgrLinkEdit
{
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    background: url(../images/imgDgrEdit.png) no-repeat top left;
}

.dgrLinkEdit:hover
{
    background-position: 0px -23px;
}

.dgrLinkAdd
{
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    background: url(../images/imgDgrAdd.png) no-repeat top left;
}

.dgrLinkAdd:hover
{
    background-position: 0px -23px;
}

.dgrCorrectImg
{
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    background: transparent url(../images/login/imgAccept.png) no-repeat top left;
}

.dgrIncorrectImg
{
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    background: url(../images/imgDgrDelete.png) no-repeat top left;
}

.dgrLinkEditPassword
{
    display: block;
    margin: auto;
    width: 23px;
    height: 23px;
    background: url(../images/imgDgrPassword.png) no-repeat top left;
}

.dgrLinkEditPassword:hover
{
    background-position: 0px -23px;
}

/*** END Links ***/

/*** END Datagrid ***/

/*** Controls ***/

fieldset
{
    /*width:750px;*/
    margin: 8px;
    border: 1px solid #ccc;
}

legend
{
    font-size: 14px;
    padding: 5px;
}

.controlDiv
{
    margin-top: 10px;
}

.labelDiv
{
    float: left;
    width: 20%;
    padding: 10px 0px 0px 5px;
    text-align: left;
}

.fieldDiv
{
    float: left;
    width: 70%;
}

.fieldSearchDiv
{
    float: left;
    width: 590px;
    margin-left: 20px;
    text-align: left;
    padding-left: 10px;
}

.buttonsSearchDiv
{
    float: left;
    margin-left: 30px;
}

.cropButton
{
    float: left;
    background: transparent url(../images/Buttons/imgGhostBtnCrop.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
    margin-left: 15px;
}

.buttonsRightDiv
{
    float: right;
    margin: 20px;
    margin-right:10px;
}

.buttonsRightDivView
{
    float: right;
    margin: 20px;        
}

.clearingSpacer
{
    clear: both;
}

.calendarPosition
{
    position: relative;
    right: 160px;
    top: 0px;
    cursor:pointer;
}


.listImages
{
    padding-top: 20px;
    vertical-align: bottom;
}

/*** Rounded Corner Textbox ***/

.roundedTextboxContainerDiv
{
    margin: 0px;
}

.roundedTextboxContainerDiv img
{
    float: left;
}

.roundedTextboxLeftSide
{
    background: transparent url(../images/imgTextBoxSpriteLeft.png) no-repeat top left;
    width: 18px;
    height: 47px;
    float: left;
}

.roundedTextboxLeftSideRed
{
    background: transparent url(../images/imgTextBoxSpriteLeft.png) no-repeat top left;
    width: 18px;
    height: 47px;
    float: left;
    background-position: 0px -94px;
}

.roundedTextboxLeftSideWhite
{
    background: transparent url(../images/imgTextBoxSpriteLeft.png) no-repeat top left;
    width: 18px;
    height: 47px;
    float: left;
    background-position: 0px -47px;
}

.roundedTextboxRightSide
{
    background: transparent url(../images/imgTextBoxSpriteRight.png) no-repeat top left;
    width: 18px;
    height: 47px;
    float: left;
}

.roundedTextboxRightSideRed
{
    background: transparent url(../images/imgTextBoxSpriteRight.png) no-repeat top left;
    width: 18px;
    height: 47px;
    float: left;
    background-position: 0px -94px;
}

.roundedTextboxRightSideWhite
{
    background: transparent url(../images/imgTextBoxSpriteRight.png) no-repeat top left;
    width: 18px;
    height: 47px;
    float: left;
    background-position: 0px -47px;
}

.roundedTextboxBackgroundDiv
{
    background: transparent url(../images/imgTextBoxSpriteRepeater.png) repeat-x top left;
    height: 47px;
    width: 300px;
    float: left;
}

.roundedTextboxBackgroundDivRed
{
    background: transparent url(../images/imgTextBoxSpriteRepeater.png) repeat-x top left;
    height: 47px;
    width: 300px;
    float: left;
    background-position: 0px -94px;
}

.roundedTextboxBackgroundDivWhite
{
    background: transparent url(../images/imgTextBoxSpriteRepeater.png) repeat-x top left;
    height: 47px;
    width: 300px;
    float: left;
    background-position: 0px -47px;
}

.roundedTextbox
{
    border: none;
    margin-top: 15px;
    width: 100%;
}

.roundedTextbox:focus
{
    outline: none;
}

.roundedTextboxPassword
{
    border: none;
    margin-top: 13px;
    width: 100%;
}

.roundedTextboxPassword:focus
{
    outline: none;
}

.roundedCornerTextBoxMini
{
    height: 30px !important;
    float: left;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 6px;
}

.roundedCornerTextBoxMini:focus
{
    outline: none;
}

.roundedCornerTextBoxMedium
{
    float: left;
    height: 30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 50%;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 6px;
}

.roundedCornerTextBoxMedium:focus
{
    outline: none;
}

.roundedCornerTextBoxUpload
{
    float: left;
    height: 35px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 73%;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 6px;
}

.roundedCornerTextBoxUpload:focus
{
    outline: none;
}

.roundedCornerTextBox
{
    height: 30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 6px;
}

.roundedCornerTextBox:focus
{
    outline: none;
}

.roundedCornerTextBoxMultiLine2
{
    font-size: 14px;
    font-family: Calibri;
    height: 40px;
    overflow: hidden;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 0px 6px;
}

.roundedCornerTextBoxMultiLine2:focus
{
    outline: none;
}

.roundedCornerTextBoxMultiLine4
{
    font-size: 14px;
    font-family: Calibri;
    height: 70px;
    overflow: hidden;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 0px 6px;
}

.roundedCornerTextBoxMultiLine4:focus
{
    outline: none;
}

.roundedCornerTextBoxMultiLine5
{
    font-size: 14px;
    font-family: Calibri;
    height: 90px;
    overflow: hidden;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 0px 6px;
}

.roundedCornerTextBoxMultiLine5:focus
{
    outline: none;
}

.roundedCornerTextBoxMultiLine8
{
    font-size: 14px;
    font-family: Calibri;
    height: 130px;
    overflow: hidden;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 0px 6px;
}

.roundedCornerTextBoxMultiLine8:focus
{
    outline: none;
}

.roundedCornerDropDownList
{
    font-size: 14px;
    font-family: Calibri;
    height: 35px;
    width: 102%;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 5px 5px 6px;
}

.roundedCornerDropDownList:focus
{
    outline: none;
}

/*** END Rounded Corner Textbox ***/


.checkBox
{
    float: left;
    padding-top:8px;
}

.listBox
{
    font-size: 14px;
    font-family: Calibri;
    height: 130px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px 10px 6px;
}



/*** Notifications ***/

.notificationDiv
{
    position: absolute;
    top: 0px;
    width: 900px;
    height: 30px;
    background-color: #ececec;
    display: none;
}

/*** END Notifications ***/

/*** END Controls ***/

.dashboardContent
{
    margin-top: 9px;
    padding-left: 15px;
    text-align: left;
}

/*** Login Page ***/

.labelLoginDiv
{
    float: left;
    width: 100px;
    padding: 15px 0px 0px 0px;
}

.fieldLoginDiv
{
    float: left;
    width: 340px;
}

.loginContainerDiv
{
    width: 850px;
    height: 520px;
    padding-top: 5%;
}

.loginLeftNav
{
    background: #252525 url('../images/leftNav_BG.png') repeat-y top left;
    width: 230px;
    height: 520px;
    float: left;
    position: relative;
}

.loginBodyContent
{
    background-color: #ececec;
    width: 520px;
    height: 520px;
    float: left;
    text-align: left;
    padding-left: 20px;
    color: #5a5a5a;
}

.loginSideBannerImg
{
    float: left;
    margin: 28px 0px 0px 20px;
}

.loginFooterDiv
{
    position: absolute;
    bottom: 20px;    
}

.loginFooterImg
{
    margin: 5px 0px 2px 0px;
    outline:none;
    border:none;
}

.loginLogoImg
{
    float: right;
    margin: 20px 125px 0px 0px;
    text-align:center;
}

.loginHeaderH1
{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.loginButtonsRightDiv
{
    float: right;
    margin: 15px 57px 25px 0px;
}

.loginButton
{
    background: transparent url(../images/login/imgGhostBtnLogin.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
}

.loginButton:hover
{
    background-position: 0px -36px; /*background-color: #252525;*/
    background-color: #0a4877;
}

.submitButton
{
    background: transparent url(../images/login/imgGhostBtnSubmit.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
}

.submitButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}

.backButton
{
    float: left;
    background: transparent url(../images/Buttons/imgGhostBtnBack.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
}

.backButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}

.importButton
{
    float: left;
    background: transparent url(../images/Buttons/imgGhostBtnImport.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
}

.importButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}

.saveButton
{
    float: left;
    background: transparent url(../images/Buttons/imgGhostBtnSave.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
    margin-left: 15px;
}

.saveButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}

.PrintButton
{
    float: left;
    background: transparent url(../images/Buttons/imgGhostBtnPrint.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
    margin-left: 15px;
}

.PrintButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}

.clearButton
{
    float: left;
    background: transparent url(../images/Buttons/imgGhostBtnClear.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
    margin-left: 15px;
}

.clearButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}

.searchButton
{
    background: transparent url(../images/Buttons/imgGhostBtnSearch.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
}

.searchButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}

.addButton
{
    background: transparent url(../images/Buttons/imgGhostBtnAdd.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
}

.addButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}

.uploadButton
{
    background: transparent url(../images/Buttons/imgGhostBtnUpload.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
    float:right;
}

.uploadButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
    
}

.deleteButton
{
    background: transparent url(../images/Buttons/imgGhostBtnDelete.png) no-repeat top left;
    width: 138px;
    height: 34px;
    display: block;
}

.deleteButton:hover
{
    background-position: 0px -36px;
    background-color: #0a4877;
}



.divImageHolderLogin
{
    float: left;
    height: 23px;
    width: 23px;
}

.imageHolderCommonDiv
{
    float: left;
    width: 23px;
    margin: 0px 15px 0px 20px;
}

.validationImageMandatory
{
    display: block;
    float: left;
    margin: 6px 0px 0px 0px;
    width: 23px;
    height: 23px;
    background: transparent url(../images/imgInputFieldIcons.png) no-repeat top left;
}

.dummyHolder
{
    display: block;
    float: left;
    margin: 6px 0px 0px 0px;
    width: 23px;
    height: 23px;
}

.validationImageInProgress
{
    display: block;
    float: left;
    margin: 6px 0px 0px 0px;
    width: 23px;
    height: 23px;
    background: transparent url(../images/imgInProgress.gif) no-repeat top left;
}

.validationImageValid
{
    display: block;
    float: left;
    margin: 6px 0px 0px 0px;
    width: 23px;
    height: 23px;
    background: transparent url(../images/imgInputFieldIcons.png) no-repeat top left;
    background-position: 0px -23px;
}

.validationImageInvalid
{
    display: block;
    float: left;
    margin: 6px 0px 0px 0px;
    width: 23px;
    height: 23px;
    background: url(../images/imgWarning.png) no-repeat top left;
}


.validationImageIncorrectLogin
{
    display: block;
    float: left;
    margin: 18px 0px 0px 9px;
    width: 14px;
    height: 12px;
    background: transparent url(../images/login/imgError.png) no-repeat top left;
}

.validationImageCorrectLogin
{
    display: block;
    float: left;
    margin: 18px 0px 0px 9px;
    width: 14px;
    height: 12px;
    background: transparent url(../images/login/imgAccept.png) no-repeat top left;
}

.validationLabel
{
    position: relative;
    top: 16px;
    left: 5px;
    font-size: 13px;
}

/*.validationMessage
{
    position: relative;
    top: -32px;
    left: 60px;
    text-transform: uppercase;
}*/
.validationMessage
{
    position: relative;
    text-transform: uppercase;
}

/*** END Login Page ***/

/*** Validation ***/

.mandatoryValidDiv
{
    margin: 20px;
    height: auto;
    width: auto;
    background-color: #bce2ba;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid #82af7f;
    padding-left: 6px;
    text-align: left;
}

.mandatoryInvalidDiv
{
    margin: 20px;
    height: auto;
    width: auto;
    background-color: #df9b9b;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid #ad3d3d;
    padding-left: 6px;
    text-align: left;
}

.mandatoryInvalidDiv2
{
    /* margin: 20px; */
    height: auto;
    float: left;
    width: 99%;
    background-color: #D05F5F;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 2px;
    border: 2px solid #ad3d3d;
    padding-left: 6px;
    text-align: left;
}

.madatoryPaddingDiv
{
    padding: 15px 0px 0px 13px;
}

.invalidRoundedCornerTextBox
{
    height: 30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    width: 100%;
    border-top: 2px solid #d24a4a;
    border-left: 2px solid #d24a4a;
    border-right: 1px solid #d24a4a;
    border-bottom: 1px solid #d24a4a;
    padding-left: 6px;
    color: #7f3131;
}

/*** END Validation ***/

/*** AJAX AUTOCOMPLETE Popup ***/

.popupStyle
{
    color: #ff0000;
}

.popupMasterPanel
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url(../images/imgPopupBackground.png) repeat top left;
    overflow-y: scroll;
}

.popupInnerPanel
{
    position: relative;
    margin-top: 65px;
    width: 960px;
    min-height: 100px;
    text-align: left;
}

.popupInnerContentPanel
{
    width: 950px;
    min-height: 100px;
    background-color: #a4190b;
    padding-left: 10px;
}

.popupInnerContentPanelWhite
{
    width: 950px;
    min-height: 100px;
    background-color: #fff;
    padding-left: 10px;
}

.popupCompletionList
{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background: #ffffff;
    border: solid 1px #cccccc;
    width: 95%;
    z-index: 100002 !important;
}

.popupCompletionListItem
{
    margin: 0px;
    padding: 3px 0px 3px 15px;
    background: url(../Images/imgCalBG.png) repeat bottom left;
    z-index: 100002 !important;
}

.popupCompletionListItemHighlight
{
    padding: 3px 0px 3px 15px;
    background-color: #cccccc;
    cursor: pointer;
    z-index: 100002 !important;
}

/*** END AJAX AUTOCOMPLETE Popup ***/

.TreeviewSelected
{
    background-image: url(../images/select.png);
}

.Line
{
    text-align: center;
    background: #ececec url(../images/imgDgrFooter.png) no-repeat bottom center;
    height: 32px;
}

.modalBackground
{
    background-color: black;
    opacity: 0.9;
}

.modalButtons
{
    float:right;
    padding:12px 35px 12px 12px;    
}

.smallText
{
    font-size:10px;
}

.BoldText
{
    font-weight:bold;
}

.ColorPreview
{
    border:none;
    width:20px;
    float:left;
    height:20px;
    background-color:transparent;
    margin-top:6.5px;
}

.ColorPreviewGrid
{
    border:none;
    width:20px;
    float:left;
    height:20px;
    background-color:transparent;    
}


/*** AJAX AUTOCOMPLETE Popup ***/

.popupStyle
{
	color: #ff0000;
}

.popupMasterPanel
{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/imgPopupBackground.png) repeat top left;
	overflow-y: scroll;
}

.popupInnerPanel
{
	position: relative;
	margin-top: 65px;
	width: 960px;
	min-height: 100px;
	text-align: left;
}

.popupInnerContentPanel
{
	width: 950px;
	min-height: 100px;
	background-color: #a4190b;
	padding-left: 10px;
}

.popupInnerContentPanelWhite
{
	width: 950px;
	min-height: 100px;
	background-color: #fff;
	padding-left: 10px;
}

.popupCompletionList
{
	margin: 0px;
	padding: 0px;
	list-style: none;
	background: #ffffff;
	border: solid 1px #cccccc;
	width: 95%;
	z-index:100002 !important;
}

.popupCompletionListItem
{
	margin: 0px;
	padding: 3px 0px 3px 15px;
	background:url(../Images/imgCalBG.png) repeat bottom left;
	z-index:100002 !important;
}

.popupCompletionListItemHighlight
{
	padding: 3px 0px 3px 15px;
	background-color: #cccccc;
	cursor: pointer;
	z-index:100002 !important;
}

.lstTime
{
    overflow:scroll;
    height:26px;
    padding:4px;     
    float:left;
    outline:none;    
    margin-right:5px;      
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;        
    border-top:2px solid #ccc;
    border-left:2px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;  
}

.timeColon
{
    float:left;
    padding:4px 5px 0px 0px;   
}

/*** END AJAX AUTOCOMPLETE Popup ***/

/*ModalPopup Begin*/

.modalBackground
{
    background-color: black;
    opacity: 0.9;    
}

.ModalWindow
{
    background: #f0f0f0;
    position: absolute;
    top: -969px;
    left: -224px;
}

.PopUp
{
    background-color: #ececec;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 10px;
    border-top:2px solid #ccc;
    border-left:2px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;    
    position:relative;    
    max-height:600px;  
    margin-top:0px;  
    top:0px !IMPORTANT;
}

.leftAlign
{
    margin-left: -8px;
}

.legend
{
    border-top: 2px solid #ccc; 
    border-left: 2px solid #ccc; 
    border-right: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    border-radius:5px; 
    width:305px; 
    margin-top:10px; 
    margin-left:31%; 
    padding:10px; 
    background-color:#fff; 
    font-family: Calibri; 
    font-size:14px;
}

.legend-Master-No-Sub-Groups-Indicator
{
    position:relative; 
    width: 20px; 
    height:20px; 
    float:left; 
    background-color: Black; 
    border-radius:50%; 
    border: 1px solid black;
}

.legend-Text
{
    position:relative; 
    margin-left:10px; 
    margin-top:3px;
}

.legend-Master-With-Groups-Indicator
{
    position:relative; 
    width: 20px; 
    height:20px; 
    float:left; 
    background-color: green;  
    border-radius:50%; 
    border: 1px solid green;
}

.legend-Sub-Group-Indicator
{
    position:relative; 
    width: 20px; 
    height:20px; 
    float:left; 
    background-color: orangered; 
    border-radius:50%;  
    border: 1px solid orangered;
}

/*ModalPopup End*/