﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Accelerate.master" AutoEventWireup="true" CodeFile="Accelerate-TermsAndConditions.aspx.cs" Inherits="Accelerate_Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
    <script src="js/jquery.js"></script>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="genericMainHeading">
        <h2>Terms and conditions</h2>
    </div>
    <br class="clr" />
    <br class="clr" />
    <div style="position: relative;">
        <div class="missionContainer">

            <div class="innerMissionText">
                <h4 class="missionHeading black"><strong>In using this website you are deemed to have read and
                        
                        agreed to the following terms
                        <br />
                    and conditions:</strong></h4>
                <p>
                    The following terminology applies to these Terms and Conditions, Privacy Statement, Disclaimer and any or all Agreements: "Client", 
                    “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. "The Company", 
                    “Ourselves”, “We” and "Us", refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either 
                    the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process 
                    of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, 
                    for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance 
                    with and subject to, prevailing South Africa Law. Any use of the above terminology or other words in the singular, plural, capitalisation 
                    and/or he/she or they, are taken as interchangeable and therefore as referring to same.
                </p>
                <br />
                <h4 class="missionHeading black"><strong>Privacy Statement</strong></h4>
                <p>
                    We are committed to protecting your privacy. Authorized employees within the company on a need to know basis only use any information 
                        collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers.
                </p>
                <br />
                <h4 class="missionHeading black"><strong>Confidentiality</strong></h4>
                <p>
                    Any information concerning the Client and their respective Client Records may be passed to third parties. However, Client records 
                    are regarded as confidential and therefore will not be divulged to any third party, unless  legally required to do so to the appropriate 
                    authorities. Clients have the right to request sight of, and copies of any and all Client Records we keep, on the proviso that we are
                    given reasonable notice of such a request. Clients are requested to retain copies of any literature issued in relation to the provision 
                    of our services. Where appropriate, we shall issue Client’s with appropriate written information, handouts or copies of records as part of 
                    an agreed contract, for the benefit of both parties.
                </p>
                <p>
                    We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails 
                    sent by this Company will only be in connection with the provision of agreed services and products.
                </p>
                <br />
                <h4 class="missionHeading black"><strong>Disclaimer
                    <br />
                    Exclusions and Limitations </strong></h4>
                <p>The information on this web site is provided on an "as is" basis. To the fullest extent permitted by law, this Company:</p>
                <br />
                <ul>
                    <li style="list-style: circle; font-size:12px;">excludes all representations and warranties relating to this website and its contents or which is or may be provided by any affiliates 
                    or any other third party, including in relation to any inaccuracies or omissions in this website and/or the Company’s literature; and</li>
                    <br />
                    <li style="list-style: circle; font-size:12px;"> excludes all liability for damages arising out of or in connection with your use of this website. This includes, without limitation, 
                    direct loss, loss of business or profits (whether or not the loss of such profits was foreseeable, arose in the normal course of things 
                    or you have advised this Company of the possibility of such potential loss), damage caused to your computer, computer software, systems 
                    and programs and the data thereon or any other direct or indirect, consequential and incidental damages.</li>
                </ul>
                <p>
                    This Company does not however exclude liability for death or personal injury caused by its negligence. The above exclusions and limitations 
                    apply only to the extent permitted by law. None of your statutory rights as a consumer are affected.
                </p>
                <br />
                <h4 class="missionHeading black"><strong>Log Files</strong></h4>
                <p>
                    We use IP addresses to analyse trends, administer the site, track user’s movement, and gather broad demographic information for aggregate use. 
                    IP addresses are not linked to personally identifiable information. Additionally, for systems administration, detecting usage patterns and 
                    troubleshooting purposes, our web servers automatically log standard access information including browser type, access times/open mail, URL 
                    requested, and referral URL. This information is not shared with third parties and is used only within this Company on a need-to-know basis. 
                    Any individually identifiable information related to this data will never be used in any way different to that stated above without your explicit 
                    permission.
                </p>
                <br />
                <h4 class="missionHeading black"><strong>Links from this website </strong></h4>
                <p>
                    We do not monitor or review the content of other party’s websites which are linked to from this website. Opinions expressed or material appearing 
                    on such websites are not necessarily shared or endorsed by us and should not be regarded as the publisher of such opinions or material. Please be 
                    aware that we are not responsible for the privacy practices, or content, of these sites. We encourage our users to be aware when they leave our 
                    site & to read the privacy statements of these sites. You should evaluate the security and trustworthiness of any other site connected to this 
                    site or accessed through this site yourself, before disclosing any personal information to them. This Company will not accept any responsibility 
                    for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure to third parties of personal information.
                </p>
                <br />
                <h4 class="missionHeading black"><strong>Copyright Notice </strong></h4>
                <p>Copyright and other relevant intellectual property rights exists on all text relating to the Company’s services and the full content of this website. </p>
                <p>You are not authorised to copy or use any software, proprietary processes, or technology embodied or described in this Website.</p>
                <br />
                <h4 class="missionHeading black"><strong>Communication</strong></h4>
                <p>
                    We have several different e-mail addresses for different queries. These, & other contact information, can be found on our Contact Us link on our 
                    website or via Company literature or via the Company’s stated telephone, facsimile or mobile telephone numbers.
                </p>
                <p>This company is registered in South Africa, Number 2010/150253/23, registered office 33 Baldersani, 10 Simba road, Sunninghill, Sandton, 2191, Sunninghill.</p>
                <br />
                <h4 class="missionHeading black"><strong>Force Majeure</strong></h4>
                <p>
                    Neither party shall be liable to the other for any failure to perform any obligation under any Agreement which is due to an event beyond the control of 
                    such party including but not limited to any Act of God, terrorism, war, Political insurgence, insurrection, riot, civil unrest, act of civil or military 
                    authority, uprising, earthquake, flood or any other natural or man made eventuality outside of our control, which causes the termination of an agreement
                     or contract entered into, nor which could have been reasonably foreseen. Any Party affected by such event shall forthwith inform the other Party of the 
                    same and shall use all reasonable endeavours to comply with the terms and conditions of any Agreement contained herein.
                </p>
                <br />
                <h4 class="missionHeading black"><strong>Waiver</strong></h4>
                <p>
                    Failure of either Party to insist upon strict performance of any provision of this or any Agreement or the failure of either Party to exercise any right
                     or remedy to which it, he or they are entitled hereunder shall not constitute a waiver thereof and shall not cause a diminution of the obligations under
                     this or any Agreement. No waiver of any of the provisions of this or any Agreement shall be effective unless it is expressly stated to be such and signed
                     by both
                </p>
                <br />
                <h4 class="missionHeading black"><strong>General</strong></h4>
                <p>
                    The laws of South Africa govern these terms and conditions. By accessing this website and using our services you consent to these terms and conditions and to 
                    the exclusive jurisdiction of the South Africa courts in all disputes arising out of such access. If any of these terms are deemed invalid or unenforceable
                     for any reason (including, but not limited to the exclusions and limitations set out above), then the invalid or unenforceable provision will be severed
                     from these terms and the remaining terms will continue to apply. Failure of the Company to enforce any of the provisions set out in these Terms and
                     Conditions and any Agreement, or failure to exercise any option to terminate, shall not be construed as waiver of such provisions and shall not affect the
                    validity of these Terms and Conditions or of any Agreement or any part thereof, or the right thereafter to enforce each and every provision. These Terms and
                     Conditions shall not be amended, modified, varied or supplemented except in writing and signed by duly authorised representatives of the Company.
                </p>
                <br />
                <h4 class="missionHeading black"><strong>Notification of Changes</strong></h4>
                <p>
                    The Company reserves the right to change these conditions from time to time as it sees fit and your continued use of the site will signify your acceptance of 
                    any adjustment to these terms. If there are any changes to our privacy policy, we will announce that these changes have been made on our home page and on 
                    other key pages on our site. If there are any changes in how we use our site customers’ Personally Identifiable Information, notification by e-mail or postal
                     mail will be made to those affected by this change. Any changes to our privacy policy will be posted on our web site 30 days prior to these changes taking 
                    place. You are therefore advised to re-read this statement on a regular basis
                    These terms and conditions form part of the Agreement between the Client and ourselves. Your accessing of this website and/or undertaking of a booking or 
                    Agreement indicates your understanding, agreement to and acceptance, of the Disclaimer Notice and the full Terms and Conditions contained herein. 
                </p>
                <p>&copy; MA2 CONSULTING CC 2014 All Rights Reserved</p>
            </div>
            <br class="clr" />
            <br class="clr" />
        </div>
    </div>

    <script type="text/javascript">
        function balanceHelp() {
            var lhs = $('#leftHandSideSection').height();
            var rhs = $('#leftHandSideSection').height();
            if (lhs > rhs) {
                $('#rightHandSideSection').css({ 'height': lhs + 'px' });
                $('#leftHandSideSection').css({ 'height': lhs + 'px' });
            }
            else {
                $('#rightHandSideSection').css({ 'height': rhs + 'px' });
                $('#leftHandSideSection').css({ 'height': rhs + 'px' });
            }
        }
    </script>
</asp:Content>

