/* strLoginBackgroundColour */
.login-box.clearfix.animated.flipInY{background: #fff333 !important;}

/* strLoginBackgroundColour */
.buttonHolder{background: #fff333 !important;}

/* strLoginTextBackgroundColour strLoginTextFontColour */
.txtUserNameBox{background: #00aa00 !important;color: #ff0000 !important;text-shadow: 0 1px 0 #00aa00 !important;}

/* strLoginTextBackgroundColour strLoginTextFontColour */
.txtPasswordBox{background: #00aa00 !important;color: #ff0000 !important;text-shadow: 0 1px 0 #00aa00 !important;}

/* strLoginButtonBackgroundColour strLoginButtonFontColour */
.btn.btn-white{background: #ff33ff !important;color: #ff3333 !important;}

/* strLoginLinkTextColour */
a{color: #ee1111 !important;}
