﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="CMS.master.cs" Inherits="CMS_CMS" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <!--Stylesheet-->
    <link type="text/css" href="css/styles.css" rel="Stylesheet" />

    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- Javascript -->
    <script lang="javascript" type="text/javascript" src="scripts/jquery.js"></script>
    <script lang="javascript" type="text/javascript" src="scripts/menu.js"></script>
    <script lang="javascript" type="text/javascript" src="scripts/jsGeneric.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="smgMaster" runat="server" ScriptMode="Release" />
        <center>
            <div class="pageConatiner">

                <!--Left nav-->
                <div class="leftNav">

                    <div>
                      <a href="frmDashboard.aspx">  <img src="../images/logo.png" width="190px" style="padding: 5px" alt="Accelerate :: Accelerate" title="Accelerate :: Accelerate" /></a></div>
                    <div class="cmsTitle">CONTENT MANAGEMENT SYSTEM</div>

                    <div class="userCredentials">
                        <div class="userCredentialsTop">
                            <img src="images/imgLoginIcon.png" alt="" title="" />
                            <asp:Label ID="lblMessage" runat="server"></asp:Label>
                        </div>
                        <br style="clear: both;" />
                        <img src="images/imgLeftPanelDivider.png" alt="" title="" class="leftPanelDivider" />
                        <div class="userCredentialsBottom">
                            <a href="../Accelerate-Home.aspx" target="_blank" class="linkWhite">Visit Website</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="../CMSLogin.aspx?action=logout" class="linkWhite">Logout</a>
                        </div>
                    </div>
                    <div>
                        <ul class="mainMenu">
                            <li class="mainMenuItem" id="liUsers" onclick="toggleMenuItem('bUsers', 'divUsers')">
                                <b id="bUsers" class="arrowLeft"></b><a style="margin-left: 20px">Users</a>
                            </li>
                            <li id="divUsers" class="subMenuContainer">
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmAccountUsersView.aspx';"><a>Accelerate Users</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmInactiveAccountUsersView.aspx';"><a>Inactive Users</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmUsersView.aspx';"><a>CMS Users</a></li>
                                </ul>
                            </li>
                            <li class="mainMenuItem" id="liPSettings" onclick="toggleMenuItem('bPSetting', 'divPSetting')">
                                <b id="bPSetting" class="arrowLeft"></b><a style="margin-left: 20px">Primary Settings</a>
                            </li>
                            <li id="divPSetting" class="subMenuContainer">
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmAchievementsView.aspx';"><a>Achievements</a></li>
                                </ul>
                                 <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmDefaultImagesView.aspx';"><a>Default Images</a></li>
                                </ul>

                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmWelcomeMessagesView.aspx';"><a>Welcome Message</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmFinalMessagesView.aspx';"><a>Completion Message</a></li>
                                </ul>

                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmMissionTypesView.aspx';"><a>Mission Types</a></li>
                                </ul>
<%--                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmRanksView.aspx';"><a>Rank / Levels</a></li>
                                </ul>--%>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmCustomGroupRanksView.aspx';"><a>Custom Ranks</a></li>
                                </ul>
                            </li>
                            <li class="mainMenuItem" id="liSettings" onclick="toggleMenuItem('bSetting', 'divSetting')">
                                <b id="bSetting" class="arrowLeft"></b><a style="margin-left: 20px">Core Settings</a>
                            </li>
                            <li id="divSetting" class="subMenuContainer">
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmCompaniesView.aspx';"><a>1. Companies</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmCustomGeneralColoursView.aspx';"><a>2. Custom Colours</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmCustomLoginColoursView.aspx';"><a>3. Custom Login Colours</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmPhasesView.aspx';"><a>4. Phases</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmGroupsView.aspx';"><a>5. Business Units</a></li>
                                </ul>                                
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmForumsView.aspx';"><a>6. Forum Topics</a></li>
                                </ul>
                                <%--<ul class="subMenu">
                                    <li><a href="../ColourEditGuide/AccelerateColoursGuide.pdf" target="_blank">7. Colours Guide</a></li>
                                </ul>--%>
                                               
                            </li>
                            <li class="mainMenuItem" id="liMissions" onclick="toggleMenuItem('bMission', 'divMission')">
                                <b id="bMission" class="arrowLeft"></b><a style="margin-left: 20px">Missions Settings</a>
                            </li>
                            <li id="divMission" class="subMenuContainer">
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmMissionsView.aspx';"><a>Mission CORE</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmMissionQuestionsView.aspx';"><a>Text Quesions</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmMissionAnswersView.aspx';"><a>Text Answers</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmTeamShipsView.aspx';"><a>Leadership Q & A</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmMissionDropDownQuestionsView.aspx';"><a>Drop Down Questions</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmMissionDropDownAnswersView.aspx';"><a>Drop Down Answers</a></li>
                                </ul>
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmMissionVideosView.aspx';"><a>Video Missions</a></li>
                                </ul>
                            </li>
                            <li class="mainMenuItem" id="liPortal" onclick="toggleMenuItem('bPortal', 'divPortal')">
                                <b id="bPortal" class="arrowLeft"></b><a style="margin-left: 20px">Portal</a>
                            </li>
                            <li id="divPortal" class="subMenuContainer">
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmPortalFeaturesView.aspx';"><a>Portal Features</a></li>
                                </ul>
                            </li>
                            <li class="mainMenuItem" id="liReporting" onclick="toggleMenuItem('bReporting', 'divReporting')">
                                <b id="bReporting" class="arrowLeft"></b><a style="margin-left: 20px">Reporting</a>
                            </li>
                            <li id="divReporting" class="subMenuContainer">
                                <ul class="subMenu">
                                    <li onclick="return window.location.href = 'frmReporting.aspx';"><a>Email Q & A</a></li>
                                    <li onclick="return window.location.href = 'frmReminder.aspx';"><a>Reminder</a></li>
                                    <li onclick="return window.location.href = 'frmDashboard.aspx';"><a>Users in Groups</a></li>
                                    <li onclick="return window.location.href = 'frmAdminEmailSettingsView.aspx';"><a>Admin</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div style="margin-top: 320px;">
                        <img src="images/Login/imgLoginDivider.png" alt="" title="" />
                        <a href="http://www.softservedigital.co.za" target="_blank">
                            <img src="images/login/imgPoweredBy.png" alt="Softserve Digital Development" title="Softserve Digital Development" class="loginFooterImg" />
                        </a>
                        <img src="images/login/imgLoginDivider.png" alt="" title="" />
                    </div>
                </div>

                <!--Main body-->
                <div class="bodyContent">

                    <!--Header-->
                    <div class="contentHeader">
                        <div class="currentPage">
                            <div class="currentPageTab" style="width:200px;">
                                <asp:Label ID="lblCurrentPage" runat="server"></asp:Label>
                            </div>
                            
                        </div>
                        

                        <div class="timeDisplay">
                            <img src="images/imgClock.png" class="imgClock" width='24' height='24' />
                            <div class='dateText'>
                                <asp:Label ID="lblDateTime" runat="server">hh</asp:Label>
                            </div>
                        </div>
                    </div>
                    

                    <!--Content-->
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>

                </div>

            </div>
        </center>
    </form>
</body>
</html>
