.login-box.clearfix.animated.flipInY{background: #000000 !important;}
.buttonHolder{background: #000000 !important;}
.btn.btn-white{background: #333 !important;color: #ffffff !important;}
a{color: #ffffff !important;}
