.login-box.clearfix.animated.flipInY{background: #fff333 !important;}
.buttonHolder{background: #fff333 !important;}
.btn.btn-white{background: #ff33ff !important;color: #ff3333 !important;}
a{color: #ee1111 !important;}
