.login-box.clearfix.animated.flipInY{background: #333fff !important;}
.buttonHolder{background: #333fff !important;}
.btn.btn-white{background: #4e4e4e !important;color: #55aa55 !important;}
a{color: #4e4e4e !important;}
