.login-box.clearfix.animated.flipInY{background: #000000 !important;}
.buttonHolder{background: #000000 !important;}
.btn.btn-white{background: #80c342 !important;color: #000000 !important;}
a{color: #ffffff !important;}
